# Python files

*.py[cod]

__pycache__/





# Virtual environments

.env/

.venv/





# Jupyter Notebook checkpoints

.ipynb_checkpoints/





# Logs and temp files

*.log

*.tmp

*.bak

*.swp

*.swo





# MacOS

.DS_Store





# TensorFlow saved models

saved_model/
